#########################
## Java
#########################
.mtj.tmp/
*.clase
*.jar
*.war
*.ear
*.nar
*.log
hs_err_pid*
replay_pid*

#########################
## Maven
#########################
objetivo/
pom.xml.etiqueta
pom.xml.releaseBackup
pom.xml.versionesBackup
pom.xml.siguiente
pom.xml.bak
release.propiedades
dependencia-reducido-pom.xml
buildNumber.propiedades
.mvn/timing.propiedades
.mvn/envoltura/maven-wrapper.jar

#########################
## Gradle
#########################
bin/
construir/
.gradle
.gradletasknamecache
gradle-app.setting
¡!gradle-wrapper.jar

#########################
## IntelliJ
#########################
fuera/
.idea/
.idea_módulos/
*.iml
*.ipr
*.siws

#########################
## Eclipse
#########################
.configuración/
bin/
tmp/
.metadatos
.classpath
.proyecto
*.tmp
*.bak
*.swp
*~.nib
local.propiedades
.loadpath
.factorypath

#########################
## NetBeans
#########################
nbproject/privado/
construir/
nbbuild/
dist/
nbdist/
nbacciones.xml
nb-configuración.xml

#########################
## Visual Studio Código
#########################
.vscode/
.espacio de trabajo-código

#########################
## OS X
#########################
.DS_Tienda

#########################
## Varios
#########################
*.en

#target folder
target/
#logs folder
logs/


.settings/
.mvn/